.game-section {
  text-align: center;
  margin-bottom: 120px;
}
.game-content {
  max-width: 670px;
  margin: 0 auto;
  padding: 0px 20px;
}
.game-header {
  margin-bottom: 25px;
}

.game-text {
  margin-bottom: 50px;
}

.circle-container {
  padding: 0px 85px;
}
.circle-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.circle-row::before {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  border-bottom: 4px dashed #241c20;
}
.gray-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #241c20;
}
.circle {
  position: relative;
}
.circle::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 90px));
  white-space: nowrap;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.red-circle {
  flex-shrink: 0;
  width: 120px;
  height: 120px;
}

@media (max-width: 500px) {
  .circle-row {
    flex-direction: column;
    row-gap: 70px;
  }
  .circle-row::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: unset;
    height: 100%;
    border-bottom: unset;
    border-right: 4px dashed #241c20;
  }
  .circle::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50%));
    color: white;
    background-color: #241c20;
    padding: 3px 15px;
    border-radius: 20px;
  }
}
